[package]
name = "third-party-library"
version.workspace = true
authors.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { version = "1.0.86", features = ["backtrace"] }
fake = { version = "2.9.2", features = ["derive"] }
opentelemetry = "0.24.0"
opentelemetry-otlp = "0.17.0"
opentelemetry_sdk = { version = "0.24.1", features = ["rt-tokio"] }
thiserror = "1.0.63"
tokio = { version = "1.38.0", features = ["full"] }
tracing = "0.1.40"
tracing-opentelemetry = "0.25.0"
tracing-subscriber = { version = "0.3.18", features = ["json", "env-filter"] }

[dev-dependencies]
config = "0.14.0"
criterion = "0.5.1"
dotenvy = "0.15.7"
mockall = "0.13.0"
phonenumber = "0.3.6"
proptest = "1.5.0"
proptest-derive = "0.5.0"
rstest = "0.22.0"
serde = { version = "1.0.204", features = ["derive"] }
validator = { version = "0.16.1", features = ["derive", "phone"] }

[[bench]]
name = "criterion"
harness = false
